# Build artifacts
*.import
*.import*
*.pck
*.scn
*.tres
*.res
*.gdns
*.gdnlib
*.so
*.dll
*.dylib

# Dependencies
.addons/
.build/
.cache/

# Logs
*.log
*.lo

# Environment
.env
.env.local
*.env.*

# Editors
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/
htmlcov/
.coverage

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib

# Java
*.class
*.jar
*.war
*.ear
*.tar.gz
target/
.gradle/
!src/main/resources/static/dist/
!src/main/resources/public/vendor/

# C/C++
*.o
*.a
*.obj
*.out
*.exe
*.dll
*.so
*.dylib
*.ncb
*.sdf
*.suo
*.pdb
*.ilk
*.res
*.idb
*.iobj
*.ipdb
*.tlog
*.exp
*.lib
*.stackdump
*.def
*.exp
*.map
*.sym
*.lst
*.gcda
*.gcno
*.gcov
*.profraw
*.profdata
*.dynstr
*.dynsym
*.strtab
*.shstrtab
*.symtab
*.note
*.comment
*.debug_info
*.debug_line
*.debug_str
*.debug_loc
*.debug_ranges
*.debug_abbrev
*.debug_pubnames
*.debug_pubtypes
*.debug_aranges
*.debug_macro
*.debug_frame
*.eh_frame
*.eh_frame_hdr
*.interp
*.dynamic
*.hash
*.gnu.hash
*.gnu.version
*.gnu.version_d
*.gnu.version_r
*.rel.dyn
*.rela.dyn
*.rel.plt
*.rela.plt
*.got
*.plt
*.plt.got
*.note.gnu.build-id
*.dynsym
*.dynstr
*.hash
*.gnu.hash
*.gnu.version
*.gnu.version_d
*.gnu.version_r
*.rel.dyn
*.rela.dyn
*.rel.plt
*.rela.plt
*.got
*.plt
*.plt.got
*.note.gnu.build-id
*.dynsym
*.dynstr
*.hash
*.gnu.hash
*.gnu.version
*.gnu.version_d
*.gnu.version_r
*.rel.dyn
*.rela.dyn
*.rel.plt
*.rela.plt
*.got
*.plt
*.plt.got
*.note.gnu.build-id
*.dynsym
*.dynstr
*.hash
*.gnu.hash
*.gnu.version
*.gnu.version_d
*.gnu.version_r
*.rel.dyn
*.rela.dyn
*.rel.plt
*.rela.plt
*.got
*.plt
*.plt.got
*.note.gnu.build-id
*.dynsym
*.dynstr
*.hash
*.gnu.hash
*.gnu.version
*.gnu.version_d
*.gnu.version_r
*.rel.dyn
*.rela.dyn
*.rel.plt
*.rela.plt
*.got
*.plt
*.plt.got
*.note.gnu.build-id
*.dynsym
*.dynstr
*.hash
*.gnu.hash
*.gnu.version
*.gnu.version_d
*.gnu.version_r
*.rel.dyn
*.rela.dyn
*.rel.plt
*.rela.plt
*.got
*.plt
*.plt.got
*.note.gnu.build-id
*.dynsym
*.dynstr
*.hash
*.gnu.hash
*.gnu.version
*.gnu.version_d
*.gnu.version_r
*.rel.dyn
*.rela.dyn
*.rel.plt
*.rela.plt
*.got
*.plt
*.plt.got
*.note.gnu.build-id
*.dynsym
*.dynstr
*.hash
*.gnu.hash
*.gnu.version
*.gnu.version_d
*.gnu.version_r
*.rel.dyn
*.rela.dyn
*.rel.plt
*.rela.plt
*.got
*.plt
*.plt.got
*.note.gnu.build-id
*.dynsym
*.dynstr
*.hash
*.gnu.hash
*.gnu.version
*.gnu.version_d
*.gnu.version_r
*.rel.dyn
*.rela.dyn
*.rel.plt
*.rela.plt
*.got
*.plt
*.plt.got
*.note.gnu.build-id......
*.dynsym
*.dynstr
*.hash
*.gnu.hash
*.gnu.version
*.gnu.version_d
*.gnu.version_r
*.rel.dyn
*.rela.dyn
*.rel.plt
*.rela.plt
*.got
*.plt
*.plt.got
*.note.gnu.build-id

# Rust
Cargo.lock
*.rs.bk
target/
**/*.dll
**/*.dylib
**/*.so
**/*.dSYM
**/*.dSYM.zip
**/*.pdb
**/*.exe
**/*.ilk
**/*.exp
**/*.lib
**/*.obj
**/*.o
**/*.gcda
**/*.gcno
**/*.gcov
**/*.profraw
**/*.profdata
**/*.stackdump
**/*.manifest
**/*.res
**/*.wixobj
**/*.wxi
**/*.wxl
**/*.wixpdb
**/*.msi
**/*.msm
**/*.msp
**/*.pcp
**/*.swp
**/*.swo
**/*.tmp
**/*.temp
**/*.log
**/*.bak
**/*.backup
**/*.save
**/*.swpx
**/*.un~
**/*.~*
**/*~
**/*.orig
**/*.rej
**/*.pyc
**/*.pyo
**/*.pyd
**/*.egg
**/*.egg-info/
**/*.whl
**/*.so
**/*.dylib
**/*.dll
**/*.exe
**/*.bin
**/*.out
**/*.o
**/*.obj
**/*.a
**/*.lib
**/*.so
**/*.dylib
**/*.dll
**/*.exe
**/*.bin
**/*.out
**/*.o
**/*.obj
**/*.a
**/*.lib
**/*.class
**/*.jar
**/*.war
**/*.ear
**/*.sar
**/*.zip
**/*.rar
**/*.7z
**/*.gz
**/*.tar
**/*.tar.gz
**/*.tar.bz2
**/*.tar.xz
**/*.bz2
**/*.xz
**/*.z
**/*.Z
**/*.lz
**/*.lzo
**/*.lz4
**/*.lzma
**/*.lzf
**/*.rz
**/*.sfark
**/*.sz
**/*.zst
**/*.zstd
**/*.br
**/*.snappy
**/*.bz2
**/*.tbz
**/*.tbz2
**/*.txz
**/*.tlz
**/*.tgz
**/*.tpz
**/*.tar.lz
**/*.tar.lzma
**/*.tar.xz
**/*.tar.zst
**/*.tar.br
**/*.tar.snappy
**/*.tar.sz
**/*.tar.z
**/*.tar.Z
**/*.tar.lzf
**/*.tar.rz
**/*.tar.sfark
**/*.tar.sz
**/*.tar.zst
**/*.tar.zstd
**/*.tar.br
**/*.tar.snappy
**/*.tar.sz
**/*.tar.z
**/*.tar.Z
**/*.tar.lzf
**/*.tar.rz
**/*.tar.sfark
**/*.tar.sz
**/*.tar.zst
**/*.tar.zstd
**/*.tar.br
**/*.tar.snappy
**/*.tar.sz
**/*.tar.z
**/*.tar.Z
**/*.tar.lzf
**/*.tar.rz
**/*.tar.sfark
**/*.tar.sz
**/*.tar.zst
**/*.tar.zstd
**/*.tar.br
**/*.tar.snappy
**/*.tar.sz
**/*.tar.z
**/*.tar.Z
**/*.tar.lzf
**/*.tar.rz
**/*.tar.sfark
**/*.tar.sz
**/*.tar.zst
**/*.tar.zstd
**/*.tar.br
**/*.tar.snappy
**/*.tar.sz
**/*.tar.z
**/*.tar.Z
**/*.tar.lzf
**/*.tar.rz
**/*.tar.sfark
**/*.tar.sz
**/*.tar.zst
**/*.tar.zstd
**/*.tar.br
**/*.tar.snappy
**/*.tar.sz
**/*.tar.z
**/*.tar.Z
**/*.tar.lzf
**/*.tar.rz
**/*.tar.sfark
**/*.tar.sz
**/*.tar.zst
**/*.tar.zstd
**/*.tar.br
**/*.tar.snappy
**/*.tar.sz
**/*.tar.z
**/*.tar.Z
**/*.tar.lzf
**/*.tar.rz
**/*.tar.sfark
**/*.tar.sz
**/*.tar.zst
**/*.tar.zstd
**/*.tar.br
**/*.tar.snappy
**/*.tar.sz
**/*.tar.z
**/*.tar.Z
**/*.tar.lzf
**/*.tar.rz
**/*.tar.sfark
**/*.tar.sz
**/*.tar.zst
**/*.tar.zstd
**/*.tar.br
**/*.tar.snappy
**/*.tar.sz
**/*.tar.z
**/*.tar.Z
**/*.tar.lzf
**/*.tar.rz
**/*.tar.sfark
**/*.tar.sz
**/*.tar.zst
**/*.tar.zstd
**/*.tar.br
**/*.tar.snappy
**/*.tar.sz
**/*.tar.z
**/*.tar.Z
**/*.tar.lzf
**......
**/*.tar.br
**/*.tar.snappy
**/*.tar.sz
**/*.tar.z
**/*.tar.Z
**/*.tar.lzf
**/*.tar.rz
**/*.tar.sfark
**/*.tar.sz
**/*.tar.zst
**/*.tar.zstd
**/*.tar.br
**/*.tar.snappy
**/*.tar.sz
**/*.tar.z
**/*.tar.Z
**/*.tar.lzf
**/*.tar.rz
**/*.tar.sfark
**/*.tar.sz
**/*.tar.zst
**/*.tar.zstd
**/*.tar.br
**/*.tar.snappy
**/*.tar.sz
**/*.tar.z
**/*.tar.Z
**/*.tar.lzf
**/*.tar.rz
**/*.tar.sfark
**/*.tar.sz
**/*.tar.zst
**/*.tar.zstd
**/*.tar.br
**/*.tar.snappy
**/*.tar.sz
**/*.tar.z
**/*.tar.Z
**/*.tar.lzf
**/*.tar.rz
**/*.tar.sfark
**/*.tar.sz
**/*.tar.zst
**/*.tar.zstd
**/*.tar.br
**/*.tar.snappy
**/*.tar.sz
**/*.tar.z
**/*.tar.Z
**/*.tar.lzf
**/*.tar.rz
**/*.tar.sfark
**/*.tar.sz
**/*.tar.zst
**/*.tar.zstd
**/*.tar.br
**/*.tar.snappy
**/*.tar.sz
**/*.tar.z
**/*.tar.Z
**/*.tar.lzf
**/*.tar.rz
**/*.tar.sfark
**/*.tar.sz
**/*.tar.zst
**/*.tar.zstd
**/*.tar.br
**/*.tar.snappy
**/*.tar.sz
**/*.tar.z
**/*.tar.Z
**/*.tar.lzf
**/*.tar.rz
**/*.tar.sfark
**/*.tar.sz
**/*.tar.zst
**/*.tar.zstd
**/*.tar.br
**/*.tar.snappy
**/*.tar.sz
**/*.tar.z
**/*.tar.Z
**/*.tar.lzf
**/*.tar.rz
**/*.tar.sfark
**/*.tar.sz
**/*.tar.zst
**/*.tar.zstd
**/*.tar.br
**/*.tar.snappy
**/*.tar.sz
**/*.tar.z
**/*.tar.Z
**/*.tar.lzf
**/*.tar.rz
**/*.tar.sfark
**/*.tar.sz
**/*.tar.zst
**/*.tar.zstd
**/*.tar.br
**/*.tar.snappy
**/*.tar.sz
**/*.tar.z
**/*.tar.Z
**/*.tar.lzf
**......